<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="StudentConnect"
			 connectionString="Data Source=DESKTOP-FFSLR8G\SQLEXPRESS01;Initial Catalog=StudentDB2025;Integrated Security=True;Trust Server Certificate=True"
			 />
	</connectionStrings>
</configuration>